<div class="page-container" *ngIf="!loading; else loadingTpl">
  <ng-container *ngIf="!notFound && annonce; else notFoundTpl">
    <h1>{{ annonce.titre }}</h1>
    <p><strong>ID :</strong> {{ annonce.id }}</p>
    <p><strong>Adresse :</strong> {{ annonce.adresse }}</p>
    <p><strong>Mensualité :</strong> {{ annonce.mensualite }} $</p>
    <p><strong>Date de disponibilité :</strong> {{ annonce.dateDisponibilite | date:'dd/MM/yyyy' }}</p>
    <p><strong>Description courte :</strong> {{ annonce.descriptionCourte }}</p>
    <p><strong>Consultations :</strong> {{ annonce.consultations }}</p>
    <p><strong>Statut :</strong> {{ annonce.actif ? 'Active' : 'Inactive' }}</p>

    <h3>Description complète</h3>
    <p>{{ annonce.descriptionLongue }}</p>
     
    <h3>Photos</h3>
    <div class="photos-grid" *ngIf="annonce.photos?.length; else noPhotosTpl">
     <img
        *ngFor="let photo of annonce.photos"
        [src]="photo"
        alt="Photo de l'annonce"
        class="photo-item"
      />
    </div>

    <ng-template #noPhotosTpl>
      <p>Aucune photo disponible.</p>
    </ng-template>

    
    <section *ngIf="isConnected; else loginHint">
      <h3>Contacter l'annonceur</h3>
      <form [formGroup]="contactForm" (ngSubmit)="sendContact()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sujet</mat-label>
          <input matInput formControlName="sujet" />
          <mat-error *ngIf="contactForm.controls.sujet.touched && contactForm.controls.sujet.invalid">
            Sujet requis (minimum 3 caractères)
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput rows="5" formControlName="message"></textarea>
          <mat-error *ngIf="contactForm.controls.message.touched && contactForm.controls.message.invalid">
            Message requis (minimum 10 caractères)
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Envoyer
        </button>
      </form>
        
      <p *ngIf="contactSentMessage">{{ contactSentMessage }}</p>
    </section>

    <ng-template #loginHint>
      <p>Connectez-vous pour contacter l'annonceur..</p>
      <button mat-stroked-button color="primary" (click)="goToLogin()">Se connecter</button>
    </ng-template>
  </ng-container>
</div>

<ng-template #loadingTpl>
  <div class="loading">Chargement...</div>
</ng-template>

<ng-template #notFoundTpl>
  <p>Annonce introuvable.</p>
</ng-template>
